<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 10000
    });
  });
</script>

<div id="carousel" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "sp2.png" %>
      <div class="carousel-caption">
        <h2><b>Welcome to COSI 125a</b></h2>
        <h3><b>Human-Computer Interaction</b></h3>
        <h4><b>Link to Syllabus</b></h4>
      </div>
    </div>

    <div class="item">
      <%= image_tag "thompsonbanner.png" %>
      <div class="carousel-caption">
        <h2><b>Blog</b></h2>
        <h3><b>Link to Blog</b></h3>
      </div>
    </div>

    <div class="item">
      <%= image_tag "paper.jpg" %>
      <div class="carousel-caption">
        <h2><b>Assignments</b></h2>
        <h3><b>Link to Assignments</b></h3>
      </div>
    </div>

    <div class="item">
      <%= image_tag "glasses.png" %>
      <div class="carousel-caption">
        <h2><b>Trending</b></h2>
        <h3><b>Link to Blog</b></h3>
      </div>
    </div>

  </div>

 

<!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev" style = "opacity:0.33;">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next" style = "opacity:0.33;">
    <span class="icon-next"></span>
  </a>


</div>