<div id="carousel" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "sawx.jpg" %>
      <div class="carousel-caption">
        <h3>Assignments</h3>
        <p>You have a current assignment.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag "cubbie.jpg" %>
      <div class="carousel-caption">
        <h3>Blog</h3>
        <p>Read my blog.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag "evilempire.jpg" %>
      <div class="carousel-caption">
        <h3>Yanks</h3>
        <p>Suck!</p>
      </div>
    </div>

  </div>

 

<!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev" style = "opacity:0.33;">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next" style = "opacity:0.33;">
    <span class="icon-next"></span>
  </a>


</div>