
<body>
<%= render 'carousel' %>
</body>
<body>
 
<%= render 'toplists' %>

<br>
<br>
 <div class="row">
    <div class="col-md-12">
      <div style="margin-left:5%">
        <br>
        <br>
   <p><b>If you have any questions about or issues with this website, email Ken Harsch at <a href="mailto:kharsch@brandeis.edu"><FONT color=#8AA3D4>kharsch@brandeis.edu</FONT></a> or stop by my office at Volen 111. </b></p>
   <br>
 </div>
</div>
</div>
</body>
